body{
background: radial-gradient(circle, rgb(1, 31, 46) 50%, rgb(0, 187, 255) 100%); 
    font-family: segeo ui light;
    color: rgb(0, 0, 0);
}
span{
    font-size: 4rem;
    color: rgb(0, 208, 255);
}
.bookmark{
        color: rgb(0, 208, 255);
}
#send{
    background-color: rgb(3, 213, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
label{
    color: rgb(0, 208, 255);
}